.ListeCategories{
  width:29%;
  margin:auto;
  &__titre{
    width:fit-content;
  }

  &__liste{
    display:flex;
    flex-direction:row;
    margin-left:-10%;
    justify-content:space-around;
  }

  &__item{

  }
}